# Project exclude paths
/.idea/
/.gradle/
/build/
/dresden/build/
/dresden/build/classes/java/main/
/firenze/build/
/firenze/build/classes/java/main/
/london/build/
/london/build/classes/java/main/
/o11y-app/build/
/o11y-app/build/classes/java/main/
